html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Чтобы фон покрывал всю высоту */
}

body {
    background-image: url('images_for_page/backgrounds/Cut-High_main_page.png'); /* Путь к первому изображению */
    background-size: contain; /* Покрыть весь экран */
    background-position: center; /* Центрировать */
    color: #fff; /* Цвет текста для читаемости, если фон темный */
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}

    footer {
        background-image: url('images_for_page/backgrounds/Full-Low_main_page.png'); /* Путь ко второму изображению */
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 150px; /* Высота футера */
        flex-shrink: 0;
        position: relative;
    } */

main {
    flex: 1;
}